{% if data.bullet_value %}
	<div class="bullet-wrapper container">
		<h2 class="bullet-title">Please go through below bullet points</h2>
		<div class="bullet-points">
			{{ data.bullet_value|raw }}
		</div>
	</div>
{% endif %}